$orange: #ff6900;

$theme-colors: (
        "orange": $orange
);

$colors: (
        "orange": $orange
);

.text-orange {
  color: $orange!important;
}

.btn-outline-orange {
  @include button-outline-variant($orange, #222222, lighten($orange, 5%), $orange);
}
