.slick-dots {
  bottom: 20px;
}

.slick-dots li {
}

.slick-dots li.slick-active button:before {
  color: white;
}

.slick-dots li button {
}

.slick-dots li button:before {
  font-size: 14px;
  opacity: .75;
}
