<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="description"
          content="Пицца от 245 рублей. Быстрая бесплатная доставка домой и в офис.
            Показываем в прямом эфире, как готовим вашу пиццу">
    <title>Andrews pizza</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <header class="container-lg pt-3">
        <!--    Here is header-->
        <div class="row">
            <div class="col-7 row">
                <div class="col-4">
                    <a href=""><img src="images/header.png" alt="header" class="w-100 h-75"></a>
                </div>
                <div class="col-4">
                    <div>Доставка пиццы <a href="#">Москва</a></div>
                    <div><span class="_fs-90" title="35 мин, 4.75">35 мин &bull; 4.75&#127775;</span></div>
                </div>
                <div class="col-4">
                    <div><a href="tel:89169125532">8 916 912-55-32</a></div>
                    <div><span class="text-dark">Звонок не бесплатный</span></div>
                </div>
            </div>
            <div class="col-5 row">
                <div class="col-6 col-lg-4 offset-lg-4">
                    <a href="" class="btn btn-sm btn-outline-warning text-nowrap">Додо рубли D</a>
                </div>
                <div class="col-6 col-lg-4">
                    <button type="button" class="btn btn-sm btn-outline-warning">Войти</button>
                </div>
            </div>
        </div>
    </header>
    <nav class="sticky-top">
<!--Here is menu (position: absolute!)-->
        <div class="navbar navbar-expand navbar-light bg-light px-0">
        <div class="container-lg">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="#">Пиццы</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Комбо</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Закуски</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Десерты</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Напитки</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Акции</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Контакты</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Работа в Додо</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">О нас</a>
                </li>
            </ul>
        </div>
        </div>
    </nav>
    <section>
<!--        Here is slider-->
        <div>
            <img src="images/slider1.jpeg" alt="slider" class="w-100 h-75">
        </div>
    </section>
    <main class="container-lg pt-3">
<!--        Here is pizzas-->
        <div class="my-2">
            <div class="card-deck">
                <div class="card _card-product">
                    <img src="images/pizza1.jpg" class="card-img-top w-100" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Аррива!</h5>
                        <p class="card-text text-secondary _fs-90">
                            Соус бургер, цыпленок, соус ранч,
                            чоризо, сладкий перец, красный лук, моцарелла, томаты, чеснок
                        </p>
                    </div>
                    <div class="card-footer">
                        <span class="font-weight-bold">от 395 Р</span>
                        <button type="button" class="btn btn-sm btn-outline-warning float-right">Выбрать</button>
                    </div>
                </div>
                <div class="card _card-product">
                    <img src="images/pizza1.jpg" class="card-img-top w-100" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Аррива!</h5>
                        <p class="card-text text-secondary _fs-90">
                            Соус бургер, цыпленок, соус ранч,
                            чоризо, сладкий перец, красный лук, моцарелла, томаты, чеснок
                        </p>
                    </div>
                    <div class="card-footer">
                        <span class="font-weight-bold">от 395 Р</span>
                        <button type="button" class="btn btn-sm btn-outline-warning float-right">Выбрать</button>
                    </div>
                </div>
                <div class="card _card-product">
                    <img src="images/pizza1.jpg" class="card-img-top w-100" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Аррива!</h5>
                        <p class="card-text text-secondary _fs-90">
                            Соус бургер, цыпленок, соус ранч,
                            чоризо, сладкий перец, красный лук, моцарелла, томаты, чеснок
                        </p>
                    </div>
                    <div class="card-footer">
                        <span class="font-weight-bold">от 395 Р</span>
                        <button type="button" class="btn btn-sm btn-outline-warning float-right">Выбрать</button>
                    </div>
                </div>
                <div class="card _card-product">
                    <img src="images/pizza1.jpg" class="card-img-top w-100" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Аррива!</h5>
                        <p class="card-text text-secondary _fs-90">
                            Соус бургер, цыпленок, соус ранч,
                            чоризо, сладкий перец, красный лук, моцарелла, томаты, чеснок
                        </p>
                    </div>
                    <div class="card-footer">
                        <span class="font-weight-bold">от 395 Р</span>
                        <button type="button" class="btn btn-sm btn-outline-warning float-right">Выбрать</button>
                    </div>
                </div>
                <div class="card _card-product">
                    <img src="images/pizza1.jpg" class="card-img-top w-100" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Аррива!</h5>
                        <p class="card-text text-secondary _fs-90">
                            Соус бургер, цыпленок, соус ранч,
                            чоризо, сладкий перец, красный лук, моцарелла, томаты, чеснок
                        </p>
                    </div>
                    <div class="card-footer">
                        <span class="font-weight-bold">от 395 Р</span>
                        <button type="button" class="btn btn-sm btn-outline-warning float-right">Выбрать</button>
                    </div>
                </div>
                <div class="card _card-product">
                    <img src="images/pizza1.jpg" class="card-img-top w-100" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Аррива!</h5>
                        <p class="card-text text-secondary _fs-90">
                            Соус бургер, цыпленок, соус ранч,
                            чоризо, сладкий перец, красный лук, моцарелла, томаты, чеснок
                        </p>
                    </div>
                    <div class="card-footer">
                        <span class="font-weight-bold">от 395 Р</span>
                        <button type="button" class="btn btn-sm btn-outline-warning float-right">Выбрать</button>
                    </div>
                </div>
                <div class="card _card-product">
                    <img src="images/pizza1.jpg" class="card-img-top w-100" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Аррива!</h5>
                        <p class="card-text text-secondary _fs-90">
                            Соус бургер, цыпленок, соус ранч,
                            чоризо, сладкий перец, красный лук, моцарелла, томаты, чеснок
                        </p>
                    </div>
                    <div class="card-footer">
                        <span class="font-weight-bold">от 395 Р</span>
                        <button type="button" class="btn btn-sm btn-outline-warning float-right">Выбрать</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="my-2">
            <h2>Закуски</h2>
            <div class="card-deck">
                <div class="card _card-product">
                    <img src="images/pizza1.jpg" class="card-img-top w-100" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Аррива!</h5>
                        <p class="card-text text-secondary _fs-90">
                            Соус бургер, цыпленок, соус ранч,
                            чоризо, сладкий перец, красный лук, моцарелла, томаты, чеснок
                        </p>
                    </div>
                    <div class="card-footer">
                        <span class="font-weight-bold">от 395 Р</span>
                        <button type="button" class="btn btn-sm btn-outline-warning float-right">Выбрать</button>
                    </div>
                </div>
                <div class="card _card-product">
                    <img src="images/pizza1.jpg" class="card-img-top w-100" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Аррива!</h5>
                        <p class="card-text text-secondary _fs-90">
                            Соус бургер, цыпленок, соус ранч,
                            чоризо, сладкий перец, красный лук, моцарелла, томаты, чеснок
                        </p>
                    </div>
                    <div class="card-footer">
                        <span class="font-weight-bold">от 395 Р</span>
                        <button type="button" class="btn btn-sm btn-outline-warning float-right">Выбрать</button>
                    </div>
                </div>
                <div class="card _card-product">
                    <img src="images/pizza1.jpg" class="card-img-top w-100" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Аррива!</h5>
                        <p class="card-text text-secondary _fs-90">
                            Соус бургер, цыпленок, соус ранч,
                            чоризо, сладкий перец, красный лук, моцарелла, томаты, чеснок
                        </p>
                    </div>
                    <div class="card-footer">
                        <span class="font-weight-bold">от 395 Р</span>
                        <button type="button" class="btn btn-sm btn-outline-warning float-right">Выбрать</button>
                    </div>
                </div>
                <div class="card _card-product">
                    <img src="images/pizza1.jpg" class="card-img-top w-100" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Аррива!</h5>
                        <p class="card-text text-secondary _fs-90">
                            Соус бургер, цыпленок, соус ранч,
                            чоризо, сладкий перец, красный лук, моцарелла, томаты, чеснок
                        </p>
                    </div>
                    <div class="card-footer">
                        <span class="font-weight-bold">от 395 Р</span>
                        <button type="button" class="btn btn-sm btn-outline-warning float-right">Выбрать</button>
                    </div>
                </div>
                <div class="card _card-product">
                    <img src="images/pizza1.jpg" class="card-img-top w-100" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Аррива!</h5>
                        <p class="card-text text-secondary _fs-90">
                            Соус бургер, цыпленок, соус ранч,
                            чоризо, сладкий перец, красный лук, моцарелла, томаты, чеснок
                        </p>
                    </div>
                    <div class="card-footer">
                        <span class="font-weight-bold">от 395 Р</span>
                        <button type="button" class="btn btn-sm btn-outline-warning float-right">Выбрать</button>
                    </div>
                </div>
                <div class="card _card-product">
                    <img src="images/pizza1.jpg" class="card-img-top w-100" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Аррива!</h5>
                        <p class="card-text text-secondary _fs-90">
                            Соус бургер, цыпленок, соус ранч,
                            чоризо, сладкий перец, красный лук, моцарелла, томаты, чеснок
                        </p>
                    </div>
                    <div class="card-footer">
                        <span class="font-weight-bold">от 395 Р</span>
                        <button type="button" class="btn btn-sm btn-outline-warning float-right">Выбрать</button>
                    </div>
                </div>
                <div class="card _card-product">
                    <img src="images/pizza1.jpg" class="card-img-top w-100" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Аррива!</h5>
                        <p class="card-text text-secondary _fs-90">
                            Соус бургер, цыпленок, соус ранч,
                            чоризо, сладкий перец, красный лук, моцарелла, томаты, чеснок
                        </p>
                    </div>
                    <div class="card-footer">
                        <span class="font-weight-bold">от 395 Р</span>
                        <button type="button" class="btn btn-sm btn-outline-warning float-right">Выбрать</button>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <footer>
<!--        Here is footer-->
        <div class="bg-dark text-light">
            <div class="container-lg pt-3">
                <div class="row">
                    <div class="col-2">
                        <div><span class="font-weight-bold">Додо Пицца</span></div>
                        <div><a href="">О нас</a></div>
                        <div><a href="">Додо-книга</a></div>
                        <div><a href="">Блог "Сила ума"</a></div>
                        <div><a href="">Додо ИС</a></div>
                    </div>
                    <div class="col-2">
                        <div><span class="font-weight-bold">Додо Пицца</span></div>
                        <div><a href="">О нас</a></div>
                        <div><a href="">Додо-книга</a></div>
                    </div>
                    <div class="col-2">
                        <div><span class="font-weight-bold">Додо Пицца</span></div>
                        <div><a href="">О нас</a></div>
                        <div><a href="">Додо-книга</a></div>
                    </div>
                    <div class="col-2">
                        <div><span class="font-weight-bold">Додо Пицца</span></div>
                        <div><a href="">О нас</a></div>
                        <div><a href="">Додо-книга</a></div>
                    </div>
                </div>
                <div class="row mt-5">
                    <div class="col-4">
                        <h2>605 833 153</h2>
                        <div>Выручка российской сети в этом месяце. В прошлом — 1 823 657 814</div>
                    </div>
                    <div class="col-4">
                        <h2>605 833 153</h2>
                        <div>Выручка российской сети в этом месяце. В прошлом — 1 823 657 814</div>
                    </div>
                </div>
                <div class="row border-top border-light mt-3 pt-4">
                    <div class="col"><span class="font-weight-bold">додо пицца</span> © 2020</div>
                    <div class="col"><a href="">Правовая информация</a></div>
                    <div class="col"><a href="">Калорийность и состав</a></div>
                    <div class="col"><a href="">Помощь</a></div>
                    <div class="col offset-1">"кнопки"</div>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>